/* ini adalah style untuk memformat judul */

h1 {
    color: rgb(55, 92, 55);
    text-align: center;
}

/* ini adalah style untuk memformat paragraph */

p {
    text-transform: capitalize;
    text-indent: 5ch;
    font-size: 30px; 
    text-align: justify; 
    color: white
;
}

body {
    background-image: url('image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}